{% extends "groups/group_base.html" %}
{% load static %}
{% block pregroup %}

<div class="dropdown">
  <button class="dropbtn btn btn-primary btn-large">Manage Groups</button>
  <div class="dropdown-content">

    <a href="{% url 'members:create' pk=group_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign"></span> Add Members</a>
    &nbsp;
    <a href="{% url 'members:upload' pk=group_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign"></span> Upload Members</a>
    &nbsp;
    <a href="{% url 'groups:show_members' pk=group_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-ok-circle"></span> Show Members</a>
    &nbsp;
    <a href="{% url 'agreements:create' pk=group_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign"></span> Create Agreement</a>
    &nbsp;
    <a href="{% url 'groups:show_agreements' pk=group_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-ok-circle"></span> Show Ageements</a>
    &nbsp;
    <a href="{% url 'groups:version' pk=group_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-pencil"></span> Version Group</a>
    &nbsp;
    <a href="{% url 'groups:update' pk=group_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-pencil"></span> Update Group</a>
    &nbsp;
    <a href="{% url 'groups:delete' pk=group_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-remove-circle"></span> Delete Group</a>

  </div>
</div>

&nbsp;
<input type="button" class="btn btn-primary btn-large" value="Go back!" onclick="history.back()">
&nbsp;

<h1>{{group_details.name}}</h1>
<h2>Group ID: {{group_details.groupid}}</h2>
<h2>Purpose: {{group_details.purpose}}</h2>
<h2>Created On: {{group_details.group_date}}</h2>
<h2>Created By: {{group_details.creator}}</h2>
<h2>Member Count: {{group_details.member_set.count}}</h2>
<div style="background-color: rgba(255, 255, 255, 0.8);" data-spy="scroll" data-target=".navbar">
  <div class="list-group-item-text container-fluid">
    <h4 style="color:black;">{{ group_details.description_html|safe }}</h4>
  </div>
</div>

{% if group_details.photo %}
  <img src="{{ group_details.photo.url }}"/>
  	{% endif %}

    
{% endblock %}

<!--
<div class="content">


				{% if user in group.members.all %}
					<a href="{% url 'groups:leave' slug=group_details.slug %}" class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-remove-circle"></span> Leave</a>
				{% else %}
					<a href="{% url 'groups:join' slug=group_details.slug %}" class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-ok-circle"></span> Join</a>
				{% endif %}



</div>

-->



<!--{% block group_content %}

<div class="col-md-8">
	{% if group.posts.count == 0 %}
	<h2>No posts in this group yet!</h2>

	{% else %}

		{% for post in group.posts.all %}
			{% include "posts/_post.html" %}
		{% endfor %}

	{% endif %}
</div>
{% endblock %}-->
