{% extends "groups/group_base.html" %}

{% load static %}
{% load thumbnail %}

{% block pregroup %}
<div class="col-md-4">
	<div class="content">
		{% if user.is_authenticated %}
		<h2>
			Welcome
			{{user.username }}

		</h2>

    {% endif %}
		<h2>Groups</h2>

		{% if not object_list %}
  			<p>No groups available at this time! Go ahead and create a group if needed!</p>
		{% else %}
				<p>Welcome to the Groups Page! Select a group that you want to work with!</p>
		{% endif %}

	</div>


	<a href="{% url 'groups:create' %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign"></span> Create New Group!</a>
	&nbsp;
	<a href="{% url 'groups:bulk' %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign"></span> Uplaod Groups!</a>
	&nbsp;
	{% if FileNotFound %}
    <div id="some_flag" title="Some Flag">
        <h2>File Does Not Exist!</h2>
    </div>
	{% endif %}

</div>

<br>

{% endblock %}



{% block group_content %}
<div class="col-md-8">
	<div class="list-group">
		{% for group in object_list %}
			<a class="list-group-item" href="{% url 'groups:single' pk=group.pk %}">
			     <h3 class="title list-group-item-heading">{{ group.name }}</h3>
					 <br>

					 {% block postgroup %}
					{% if group.photo %}
						{% thumbnail group.photo "300" crop="center" as im %}
							 <img src="{{ group.photo.url }}" width="{{ im.width }}" height="{{ im.height }}">
						{% endthumbnail %}
					{% endif %}
					{% endblock %}

					<br>
					<br>
					 <h4 class="title list-group-item-heading">Group ID: {{ group.groupid }}</h4>
					 <h4 class="title list-group-item-heading">Purpose: {{ group.purpose }}</h4>
					 <h4 class="title list-group-item-heading">Created On: {{ group.group_date }}</h4>
					 <h4 class="title list-group-item-heading">Created By: {{ group.creator }}</h4>
			<div class="list-group-item-text container-fluid">

				<div class="row">
					<div class="col-md-4">
						<span class="badge">{{ group.member_set.count }}</span> member{{ group.member_set.count|pluralize }}
					</div>
				</div>
				<br>
					{{ group.description_html|safe }}
			</div>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock %}
