{% extends "members/member_base.html" %}

{% block premember %}
<div class="col-md-4">
	<div class="content">
		{% if user.is_authenticated %}
		<h2>
			Welcome
			{{user.username }}
		</h2>

    {% endif %}
		<h2>Members</h2>

		{% if not object_list %}
  			<p>No members available at this time! Go back and add a member to this group!</p>
		{% else %}
				<p>Welcome to the Members Page! Select a member that you want to work on!</p>
		{% endif %}

		<br>
		<input type="button" class="btn btn-primary btn-large" value="Go back!" onclick="history.back()">

	</div>
</div>
{% endblock %}

{% block member_content %}
<div class="col-md-8">
	<div class="list-group">
		{% for member in object_list %}
		  <a class="list-group-item" href="{% url 'members:single' pk=member.pk %}">
			     <h3 class="title list-group-item-heading">{{ member.name }}</h3>
					 <h4 class="title list-group-item-heading">Member ID: {{ member.memberid }}</h4>
					 <h4 class="title list-group-item-heading">Age: {{ member.age }}</h4>
					 <h4 class="title list-group-item-heading">Email: {{ member.email }}</h4>
					 <h4 class="title list-group-item-heading">Phone: {{ member.phone }}</h4>
					 <h4 class="title list-group-item-heading">Group: {{ member.group }}</h4>
					 <h4 class="title list-group-item-heading">Created On: {{ member.member_date }}</h4>
					 <h4 class="title list-group-item-heading">Created By: {{ member.creator }}</h4>
					 <h4 class="title list-group-item-heading">SMS Sent: {{ member.sms }}</h4>
					 <h4 class="title list-group-item-heading">Email Sent: {{ member.emailer }}</h4>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock %}
