{% extends "members/member_base.html" %}

{% block premember %}
<div class="col-md-4">
	<div class="content">
		{% if user.is_authenticated %}
		<h2>
			Welcome back
			{{user.username }}
		</h2>

    {% endif %}
			<h2>Members</h2>

			<p>Welcome to the Members Page! Select a Member that you want to work on!</p>
	</div>
	{% if user.is_authenticated %}
	<a href="{% url 'members:create' pk=group.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign"></span> Create New Member!</a>
	{% endif %}
</div>
{% endblock %}

{% block member_content %}
<div class="col-md-8">
	<div class="list-group">
		{% for member in object_list %}
		  <a class="list-group-item" href="{% url 'member:single' pk=member.pk %}">
			     <h3 class="title list-group-item-heading">{{ member.name }}</h3>
					 <h3 class="title list-group-item-heading">Age: {{ member.age }}</h3>
					 <h3 class="title list-group-item-heading">Group: {{ member.group }}</h3>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock %}
