{% extends "employees/employee_base.html" %}

{% block preemployee %}

  <div class="dropdown">
    <button class="dropbtn btn btn-primary btn-large">Manage employee</button>
    <div class="dropdown-content">

    <a href="{% url 'employees:version' pk=employee_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-pencil"></span> Version employee</a>
    &nbsp;
    <a href="{% url 'employees:update' pk=employee_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-pencil"></span> Update employee</a>
    &nbsp;
    <a href="{% url 'employees:delete' pk=employee_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-remove-circle"></span> Delete employee</a>
    &nbsp;

    </div>
  </div>


  <div class="dropdown">
    <button class="dropbtn btn btn-primary btn-large">Notify employee</button>
    <div class="dropdown-content">

    <a href="{% url 'employees:email' pk=employee_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-envelope"></span> Email employee</a>
    &nbsp;
    <a href="{% url 'employees:subscribe' pk=employee_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-phone"></span> Subscribe employee</a>
    &nbsp;
    <a href="{% url 'employees:text' pk=employee_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-phone"></span> Text employee</a>
    &nbsp;

    </div>
  </div>

  &nbsp;
  <a href="{% url 'employees:backendpull' pk=employee_details.pk %}" class="btn btn-primary btn-large"><span class="glyphicon glyphicon-cloud"></span> Pull From ODS</a>
  &nbsp;
  <a href="{% url 'employees:history' pk=employee_details.pk %}" class="btn btn-primary btn-large"><span class="glyphicon glyphicon-cloud"></span> List History</a>
  &nbsp;
  <a href="{% url 'employees:refresh' pk=employee_details.pk %}" class="btn btn-primary btn-large"><span class="glyphicon glyphicon-refresh"></span> Refresh From ODS</a>
  &nbsp;
  <input type="button" class="btn btn-primary btn-large" value="Go back!" onclick="history.back()">
  &nbsp;

{% endblock %}


{% block postemployee %}

  <div class="container">
    <h1>{{employee_details.name}}</h1>
    <h2>Employee ID: {{employee_details.employeeid}}</h2>
    <h2>SSN: {{employee_details.ssn}}</h2>
    <h2>Gender: {{employee_details.gendercode}}</h2>
    <h2>Age: {{employee_details.age}}</h2>
    <h2>Birthdate: {{employee_details.birthdate}}</h2>
    <h2>Employer: {{employee_details.employer}}</h2>
    <h2>Employer ID: {{employee_details.employerid}}</h2>
    <h2>Marital Status: {{employee_details.maritalstatus}}</h2>

    <h2>Email: {{employee_details.email}}</h2>
    <h2>Alternate Email: {{employee_details.alternate_email}}</h2>

    <h2>Home Phone: {{employee_details.home_phone}}</h2>
    <h2>Work Phone: {{employee_details.work_phone}}</h2>
    <h2>Mobile Phone: {{employee_details.mobile_phone}}</h2>

    <h2>Enrollment Method: {{employee_details.enrollment_method}}</h2>
    <h2>Employment Information: {{employee_details.employment_information}}</h2>

  </div>
  &nbsp;
  <div class="container">
    <h2>Home Address Line 1: {{employee_details.home_address_line_1}}</h2>
    <h2>Home Address Line 2: {{employee_details.home_address_line_2}}</h2>
    <h2>Home City: {{employee_details.home_city}}</h2>
    <h2>Home State: {{employee_details.home_state}}</h2>
    <h2>Home Zipcode: {{employee_details.home_zipcode}}</h2>
  </div>
  &nbsp;
  <div class="container">
    <h2>Mail Address Line 1: {{employee_details.mail_address_line_1}}</h2>
    <h2>Mail Address Line 2: {{employee_details.mail_address_line_2}}</h2>
    <h2>Mail City: {{employee_details.mail_city}}</h2>
    <h2>Mail State: {{employee_details.mail_state}}</h2>
    <h2>Mail Zipcode: {{employee_details.mail_zipcode}}</h2>
  </div>
  &nbsp;
  <div class="container">
    <h2>Work Address Line 1: {{employee_details.work_address_line_1}}</h2>
    <h2>Work Address Line 2: {{employee_details.work_address_line_2}}</h2>
    <h2>Work City: {{employee_details.work_city}}</h2>
    <h2>Work State: {{employee_details.work_state}}</h2>
    <h2>Work Zipcode: {{employee_details.work_zipcode}}</h2>
  </div>
  &nbsp;
  <div class="container">
    <h2>Created On: {{employee_details.employee_date}}</h2>
    <h2>Created By: {{employee_details.creator}}</h2>
    <h2>SMS Sent: {{employee_details.sms}}</h2>
    <h2>EMAIL Sent: {{employee_details.emailer}}</h2>

    <h2>Artefacts: <a href={{employee_details.artefact.url}}>View Document</a></h2>
  </div>
    &nbsp;
  <div class="container">
    <h2>Orgin: {{employee_details.source}}</h2>
    <h2>Bulk Upload Indicator: {{employee_details.bulk_upload_indicator}}</h2>
    <h2>ODS Connection: {{employee_details.backend_SOR_connection}}</h2>
    <h2>Commit Indicator: {{employee_details.commit_indicator}}</h2>
    <h2>Record Status: {{employee_details.record_status}}</h2>
    <h2>Response: {{employee_details.response}}</h2>
  </div>

{% endblock %}
