{% extends "events/event_base.html" %}
{% load bootstrap3 %}

{% block event_content %}
<div class="col-md-8">
	<div class="list-group">
		{% for event in object_list %}
			<a class="list-group-item" href="{% url 'events:single' pk=event.pk %}">
			     <h3 class="title list-group-item-heading">Event Descriptyion{{ event.EventTypeReason }}</h3>

					 <h3 class="title list-group-item-heading">Event Code: {{ event.EventSubjectName }}</h3>
					  <h3 class="title list-group-item-heading">Event Code: {{ event.EventTypeCode }}</h3>
					 <h3 class="title list-group-item-heading">Created On: {{ event.EventDate }}</h3>
					 <br>
		  </a>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block postevent %}
	<input type="button" class="btn btn-primary btn-large" value="Go back!" onclick="history.back()">
{% endblock %}
