{% extends "events/event_base.html" %}

{% load static %}
{% load thumbnail %}

{% block preevent %}
<div class="col-md-4">
	<div class="content">
		{% if user.is_authenticated %}
		<h2>
			Welcome
			{{user.username }}

		</h2>

    {% endif %}
		<h2>Events</h2>

		{% if not object_list %}
  			<p>No events available at this time!</p>
		{% else %}
				<p>Welcome to the events Page! Select a event to see more details!</p>
		{% endif %}

	</div>

	{% if user.is_authenticated %}

  &nbsp;
	<input type="button" class="btn btn-primary btn-large" value="Go back!" onclick="history.back()">
  &nbsp;

	<!--
	<a href="{% url 'events:create' %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign"></span> Create New event!</a>
	&nbsp;
	<a href="{% url 'events:bulk' %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign"></span> Upload events!</a>
	&nbsp;
-->
	{% if FileNotFound %}
    <div id="some_flag" title="Some Flag">
        <h2>File Does Not Exist!</h2>
    </div>
	{% endif %}

	{% endif %}
</div>
{% endblock %}

{% block event_content %}
<div class="col-md-8">
	<div class="list-group">
		{% for event in object_list %}
			<a class="list-group-item" href="{% url 'events:single' pk=event.pk %}">
			     <h3 class="title list-group-item-heading">Event Description: {{ event.EventTypeReason }}</h3>
					 <h3 class="title list-group-item-heading">Event Code: {{ event.EventTypeCode }}</h3>

					 <h3 class="title list-group-item-heading">Event Date: {{ event.EventDate }}</h3>

					 <br>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock %}
