{% extends "products/product_base.html" %}
{% load static %}
{% block preproduct %}

<div class="dropdown">
  <button class="dropbtn btn btn-primary btn-large">Manage Products</button>
  <div class="dropdown-content">

  <a href="{% url 'products:version' pk=product_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-pencil"></span> Version Product</a>
  &nbsp;
  <a href="{% url 'products:update' pk=product_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-pencil"></span> Update Product</a>
  &nbsp;
  <a href="{% url 'products:delete' pk=product_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-remove-circle"></span> Delete Product</a>

  </div>
</div>

&nbsp;
<a href="{% url 'products:backendpull' pk=product_details.pk %}" class="btn btn-primary btn-large"><span class="glyphicon glyphicon-cloud"></span> Pull From ODS</a>
&nbsp;
<a href="{% url 'products:history' pk=product_details.pk %}" class="btn btn-primary btn-large"><span class="glyphicon glyphicon-cloud"></span> List History</a>
&nbsp;
<a href="{% url 'products:refresh' pk=product_details.pk %}" class="btn btn-primary btn-large"><span class="glyphicon glyphicon-cloud"></span> Refresh From ODS</a>
&nbsp;
<input type="button" class="btn btn-primary btn-large" value="Go back!" onclick="history.back()">
&nbsp;

<h1>{{product_details.name}}</h1>
<h3>ID: {{product_details.productid}}</h3>
<h3>Type: {{product_details.type}}</h3>
<h3>Coverage Limit: {{product_details.coverage_limit}}</h3>
<h3>Rate: {{product_details.price_per_1000_units}}</h3>
<h3>Created On: {{product_details.product_date}}</h3>
<h3>Created By: {{product_details.creator}}</h3>
<h3>Origin: {{product_details.source}}</h3>
<h3>Bulk Upload Indicator: {{product_details.bulk_upload_indicator}}</h3>
<h3>ODS Connection: {{product_details.backend_SOR_connection}}</h3>
<h3>Commit Indicator: {{product_details.commit_indicator}}</h3>
<h3>Record Status: {{product_details.record_status}}</h3>
<h3>Response: {{product_details.response}}</h3>
<br>
<br>
<div style="background-color: rgba(0, 0, 0, 0.5);" data-spy="scroll" data-target=".navbar">
  <div class="list-group-item-text container-fluid">
    {{ product_details.description_html|safe }}
  </div>
</div>

{% for message in messages %}

        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert">×</a>

            {{ message }}

        </div>
{% endfor %}

{% if product_details.photo %}
  <img src="{{ product_details.photo.url }}"/>
  <img src="{{ product_details.photo }}"/>
{% endif %}

{% endblock %}
