{% extends "employers/employer_base.html" %}

{% load static %}
{% load thumbnail %}

{% block preemployer %}
<div class="col-md-4">
	<div class="content">
		{% if user.is_authenticated %}
		<h2>
			Welcome
			{{user.username }}

		</h2>

    {% endif %}
		<h2>Employers</h2>

		{% if not object_list %}
  			<p>No employers available at this time! Go ahead and create a employer if needed!</p>
		{% else %}
				<p>Welcome to the Employers Page! Select a employer that you want to work with!</p>
		{% endif %}

	</div>


	<a href="{% url 'employers:create' %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign"></span> Create New employer!</a>
	&nbsp;
	<a href="{% url 'employers:bulk' %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign"></span> Uplaod employers!</a>
	&nbsp;
	{% if FileNotFound %}
    <div id="some_flag" title="Some Flag">
        <h2>File Does Not Exist!</h2>
    </div>
	{% endif %}

</div>

<br>

{% endblock %}



{% block employer_content %}
<div class="col-md-8">
	<div class="list-employer">
		{% for employer in object_list %}
			<a class="list-employer-item" href="{% url 'employers:single' pk=employer.pk %}">
			     <h3 class="title list-employer-item-heading">{{ employer.name }}</h3>
					 <br>

					 {% block postemployer %}
					{% if employer.photo %}
						{% thumbnail employer.photo "300" crop="center" as im %}
							 <img src="{{ employer.photo.url }}" width="{{ im.width }}" height="{{ im.height }}">
						{% endthumbnail %}
					{% endif %}
					{% endblock %}

					<br>
					<br>
					 <h4 class="title list-employer-item-heading">employer ID: {{ employer.employerid }}</h4>
					 <h4 class="title list-employer-item-heading">Purpose: {{ employer.purpose }}</h4>
					 <h4 class="title list-group-item-heading">Sender Name: {{ employer.transmission }}</h4>
					 <h4 class="title list-employer-item-heading">Created On: {{ employer.employer_date }}</h4>
					 <h4 class="title list-employer-item-heading">Created By: {{ employer.creator }}</h4>
			<div class="list-employer-item-text container-fluid">

				<div class="row">
					<div class="col-md-4">
						<span class="badge">{{ employer.member_set.count }}</span> member{{ employer.member_set.count|pluralize }}
					</div>
				</div>
				<br>
					{{ employer.description_html|safe }}
			</div>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock %}
