{% extends "employers/employer_base.html" %}
{% load static %}
{% block preemployer %}

<div class="dropdown">
  <button class="dropbtn btn btn-primary btn-large">Manage Employer</button>
  <div class="dropdown-content">

    <a href="{% url 'employers:version' pk=employer_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-pencil"></span> Version employer</a>
    &nbsp;
    <a href="{% url 'employers:update' pk=employer_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-pencil"></span> Update employer</a>
    &nbsp;
    <a href="{% url 'employers:delete' pk=employer_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-remove-circle"></span> Delete employer</a>
    &nbsp;
    <a href="{% url 'employers:backendpull' pk=employer_details.pk %}" class="btn btn-primary btn-large"><span class="glyphicon glyphicon-cloud"></span> Pull From ODS</a>
    &nbsp;
    <a href="{% url 'employers:history' pk=employer_details.pk %}" class="btn btn-primary btn-large"><span class="glyphicon glyphicon-cloud"></span> List History</a>
    &nbsp;
    <a href="{% url 'employers:refresh' pk=employer_details.pk %}" class="btn btn-primary btn-large"><span class="glyphicon glyphicon-cloud"></span> Refresh From ODS</a>
    &nbsp;
    <input type="button" class="btn btn-primary btn-large" value="Go back!" onclick="history.back()">
    &nbsp;

  </div>
</div>


<div class="dropdown">
  <button class="dropbtn btn btn-primary btn-large">Manage Employees</button>
  <div class="dropdown-content">

    <a href="{% url 'employers:show_employees' pk=employer_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-ok-circle"></span>Show Members</a>
    &nbsp;
    <a href="{% url 'employees:create' pk=employer_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign"></span>Add Members</a>
    &nbsp;
    <a href="{% url 'employees:upload' pk=employer_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-upload"></span>Upload Members</a>
    &nbsp;
    <a href="{% url 'employees:spl_bulk' %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-arrow-up"></span>Upload non-standard file!</a>
    &nbsp;
    <a href="{% url 'employees:refresh' %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-arrow-down"></span>Ingest non-standard data!</a>
    &nbsp;
    <a href="{% url 'employees:bulksor' %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-upload"></span>Load To ODS</a>
    &nbsp;
    <a href="{% url 'employees:feederrors' pk=employer_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-fire"></span>View Feed Errors</a>
    &nbsp;



  </div>
</div>

<div class="dropdown">
  <button class="dropbtn btn btn-primary btn-large">Manage Agreements</button>
  <div class="dropdown-content">

    <a href="{% url 'agreements:create' pk=employer_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign"></span> Create Agreement</a>
    &nbsp;
    <a href="{% url 'employers:show_agreements' pk=employer_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-ok-circle"></span> Show Ageements</a>
    &nbsp;

  </div>
</div>

<input type="button" class="btn btn-primary btn-large" value="Go back!" onclick="history.back()">
&nbsp;

<h1>{{employer_details.name}}</h1>
<h3>Employer PK: {{employer_details.pk}}</h3>
<h3>Employer ID: {{employer_details.employerid}}</h3>
<h3>Federal Employer Identification Number: {{employer_details.FederalEmployerIdentificationNumber}}</h3>
<h3>Carrier Master Agreement Number: {{employer_details.CarrierMasterAgreementNumber}}</h3>
<h3>Purpose: {{employer_details.purpose}}</h3>
<h3>Sender Name: {{employer_details.transmission}}</h3>
<h3>Created On: {{employer_details.employer_date}}</h3>
<h3>Created By: {{employer_details.creator}}</h3>
<h3>Employee Count: {{employer_details.employee_set.count}}</h3>
<h3>Origin: {{employer_details.source}}</h3>

&nbsp;

<h3>Postal Address Line 1: {{employer_details.address_line_1}}</h3>
<h3>Postal Address Line 2: {{employer_details.address_line_2}}</h3>
<h3>Postal City: {{employer_details.city}}</h3>
<h3>Postal State: {{employer_details.state}}</h3>
<h3>Postal Zipcode: {{employer_details.zipcode}}</h3>

  &nbsp;
<h3>Orgin: {{employer_details.source}}</h3>
<h3>Bulk Upload Indicator: {{employer_details.bulk_upload_indicator}}</h3>
<h3>ODS Connection: {{employer_details.backend_SOR_connection}}</h3>
<h3>Commit Indicator: {{employer_details.commit_indicator}}</h3>
<h3>Record Status: {{employer_details.record_status}}</h3>
<h3>Response: {{employer_details.response}}</h3>
<br>
<br>
<div style="background-color: rgb(0, 0, 0, 0.5);" data-spy="scroll" data-target=".navbar">
  <div class="list-employer-item-text container-fluid">
    {{ employer_details.description_html|safe }}
  </div>
</div>

{% if employer_details.photo %}
  <img src="{{ employer_details.photo.url }}"/>
{% endif %}


{% endblock %}

<!--
<div class="content">


				{% if user in employer.members.all %}
					<a href="{% url 'employers:leave' slug=employer_details.slug %}" class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-remove-circle"></span> Leave</a>
				{% else %}
					<a href="{% url 'employers:join' slug=employer_details.slug %}" class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-ok-circle"></span> Join</a>
				{% endif %}



</div>

-->



<!--{% block employer_content %}

<div class="col-md-8">
	{% if employer.posts.count == 0 %}
	<h2>No posts in this employer yet!</h2>

	{% else %}

		{% for post in employer.posts.all %}
			{% include "posts/_post.html" %}
		{% endfor %}

	{% endif %}
</div>
{% endblock %}-->
