{% extends "employers/employer_base.html" %}

{% load static %}
{% load thumbnail %}

{% block preemployer %}
<div class="col-md-4">
	<div class="content">
		{% if user.is_authenticated %}
		<h2>
			Welcome
			{{user.username }}

		</h2>

    {% endif %}
		<h2>employers</h2>

		{% if not object_list %}
  			<p>No employers available at this time! Go ahead and create an employer if needed!</p>
		{% else %}
				<p>Welcome to the employers Page! Select a employer that you want to work with!</p>
		{% endif %}

	</div>

	<div class="dropdown">
		<button class="dropbtn btn btn-primary btn-large">Manage Employers</button>
		 <div class="dropdown-content">
				<a href="{% url 'employers:create' %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign"></span>Create New!</a>
				&nbsp;
				<a href="{% url 'employers:bulk' %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign"></span>Upload file!</a>
				&nbsp;
				<a href="{% url 'employers:feederrors' %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-fire"></span>View Errors</a>
				&nbsp;
				<a href="{% url 'employers:bulksor' %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign"></span>Upload To ODS!</a>
		 </div>
		 &nbsp;
		  &nbsp;
		 <input type="button" class="btn btn-primary btn-large" value="Go back!" onclick="history.back()">
				{% if FileNotFound %}
			    <div id="some_flag" title="Some Flag">
			        <h2>File Does Not Exist!</h2>
			    </div>
				{% endif %}

	</div>
</div>

<br>



{% endblock %}



{% block employer_content %}
<div class="col-md-8">
	<div class="list-group">
		{% for employer in object_list %}
			<a class="list-group-item" href="{% url 'employers:single' pk=employer.pk %}">
			     <h3 class="title list-group-item-heading">{{ employer.name }}</h3>
					 <br>

					 {% block postemployer %}
					{% if employer.photo %}
						{% thumbnail employer.photo "300" crop="center" as im %}
							 <img src="{{ employer.photo.url }}" width="{{ im.width }}" height="{{ im.height }}">
						{% endthumbnail %}
					{% endif %}
					{% endblock %}

					<br>
					<br>
					<h4 class="title list-group-item-heading">Employer ID: {{ employer.employerid }}</h4>
					<h4 class="title list-group-item-heading">Purpose: {{ employer.purpose }}</h4>
					<h4 class="title list-group-item-heading">Created On: {{ employer.employer_date }}</h4>
					<h4 class="title list-group-item-heading">Created By: {{ employer.creator }}</h4>
					<h4 class="title list-group-item-heading">Sender Name: {{ employer.transmission }}</h4>
			<div class="list-group-item-text container-fluid">

				<div class="row">
					<div class="col-md-4">
						<span class="badge">{{ employer.member_set.count }}</span> member{{ employer.member_set.count|pluralize }}
					</div>
				</div>
				<br>
					{{ employer.description_html|safe }}
			</div>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock %}
